<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Loyality Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="categories-list">
    <ion-col class="category-item fashion-category firstitem " size="12">
      <div class=" centertext">
            <ion-card (click)="fnmaincardwork()" class="businessitem">
              <ion-card-header>
                <ion-card-subtitle>Megna Ice Cream Shop</ion-card-subtitle>
                <ion-card-title>Mary Thomas</ion-card-title>
              </ion-card-header>
              <ion-card-content class="centertext">
                <h1>3 out of 10 Scans</h1>

                <ion-progress-bar color="primary" value="0.4"></ion-progress-bar>

                <!-- Notes in a List -->
                <div class="textinfo">
                  <ion-text color="dark" class="">
                    7 Scans more needed to redeem <h3><ion-badge color="primary">Free Ice Cream</ion-badge></h3>
                  </ion-text>
                </div>

              </ion-card-content>
            </ion-card>
      </div>

    </ion-col>
</ion-row>


<ion-row class="categories-list">
  <ion-col class="" size="12">

    <ion-card style="margin-top:0px;padding-top:0px;color:#fff;" class="centertext" >
      <ion-card-header color="lightest">
        <ion-card-subtitle style="color:#222;"><ion-icon name="gift" slot="start"></ion-icon> You Earned A Free Gift</ion-card-subtitle>
      </ion-card-header>
      <ion-item color="success"   detail="false" class=" centertext" >
        <ion-label style="color:#fff;">Free Ice Cream</ion-label>
      </ion-item>
      <ion-item color="dark" class="activated centertext" >
        <ion-label (click)="sendTo()" style="color:#fff;font-weight:bold;" >Mark It Redeemed</ion-label>
      </ion-item>

    </ion-card>

    <ion-list>
      <ion-item lines="none">
        <ion-note>Loyality gifts are auto redeemed by Mauli Peackock on your 10th Scan </ion-note>
      </ion-item>

       <ion-list-header>
         <ion-label>Loyality History</ion-label>
       </ion-list-header>
       <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">31 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">31 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">31 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">31 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label color="primary" >REDEEMED</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">19 June 2019</ion-note> </ion-item>
         <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">28 MayMay 2019</ion-note> </ion-item>
         <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">26 MayMay 2019</ion-note> </ion-item>
         <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">23 May 2019</ion-note> </ion-item>
         <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">19 May 2019</ion-note> </ion-item>
           <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">18 May 2019</ion-note> </ion-item>
           <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">16 May 2019</ion-note> </ion-item>
           <ion-item detail = false><ion-label>1 Scan</ion-label><ion-note slot="end">1 May 2019</ion-note> </ion-item>
     </ion-list>

  </ion-col>
</ion-row>


<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary">
    <ion-icon   name="barcode"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
