<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Referrals You Recieved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row class="categories-list">

    <ion-col class="sometopmargin" size="12">

      <ion-list detail="true">
        <ion-list-header>
          Below are the referrals you received. Tap & approve/disapprove to reimburse referral incentives
        </ion-list-header>

        <!-- Searchbar with a placeholder -->
        <ion-searchbar placeholder="Search Referrals"></ion-searchbar>
        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Yokun Hira</h3>
            <p>Johny Mendena  </p>
          </ion-label>
        </ion-item>

        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Barrat Kim</h3>
            <p>Khuswinder Kaur  </p>
          </ion-label>
        </ion-item>

        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Gora Akhtar</h3>
            <p>Manjinder Saini  </p>
          </ion-label>
        </ion-item>

      </ion-list>


    </ion-col>
  </ion-row>
</ion-content>
