<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Invite Contacts</ion-title>
    <ion-buttons tappable slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list detail="false">
    <ion-list-header>
      Invite Socially Or Through Email
    </ion-list-header>

    <!-- Item as a Button -->
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon name="contacts"></ion-icon> Contacts
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon name="logo-facebook"></ion-icon> Facebook
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon name="logo-twitter"></ion-icon> Twitter
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col size="3">

        </ion-col>
        <ion-col size="3">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="logo-google"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="mail"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>



</ion-content>
