// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.notifications-content {
  ion-item-divider {
    --background: var(--ion-color-light);
    --padding-start: var(--page-margin);
  }

  .notification-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;

    padding: var(--page-margin);
    color: var(--ion-color-medium);
    box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);

    .notification-item-wrapper {
      --ion-grid-column-padding: 0px;

      width: 100%;
      align-items: center;
    }
    .refferalicon {
      font-size: 30px;
      color: var(--ion-color-dark);
    }
    /*
    .referral-wrapper {
      border: 1px solid var(--ion-color-dark);
      text-align: center;
      border-radius: 45px;
    }
    */
    .details-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: var(--page-margin);

      .details-name {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 16px;
      	font-weight: 400;
      	letter-spacing: 0.2px;
      	color: var(--ion-color-dark);
      }

      .details-description {
        font-size: 12px;
        margin: 0px;
      }
    }

    .date-wrapper {
      align-self: flex-start;

      .notification-date {
        margin: 0px;
        font-size: 12px;
        text-align: end;
      }
    }
  }
}
