<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Loyalty Program</ion-title>
    <a slot="end" class="iconhref iconright whitehref" [routerLink]="['/app/home']">
      <ion-icon tappable    name="home"></ion-icon>
    </a>    
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Create Your Loyalty Program</ion-label>
      </ion-list-header>
      <p class=""> Set rewards & gift mileston after customers scan your loyalty QR code number of times.
        Eg. $10 gift card after 5 Scans </p>
      <ion-item lines="none">

        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div class="roundblock">Scan 1</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 2</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 3</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 4</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 5</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 6</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 7</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 8</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Scan 9</div>
            </ion-col>
            <ion-col size="3">
              <div class="rewardblock10">Reward Set</div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

<p>Tap boxes above to configure rewards</p>

    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!validationsForm.valid">Submit</ion-button>
    <ion-button (click)="gotonextpage()" class="aligncenter" fill="clear">Skip Creating Loyalty Program</ion-button>
  </form>
</ion-content>
