.text-center {
  text-align: center;
  margin: 0 auto;
}
.bigicons {
  font-size: 35px;
  margin-top: 20px;
}
.headingtext {
  margin-top:5px;

}
.category-item {
  border: 1px solid #dedede;
}
/*
ion-card {
}
.rightside {
  float: right;
}
.leftside {
  float: left;
}
*/
.iconrightside ion-icon {
  font-size: 50px;
  margin-top: 20px;
  margin-right: 10px;
}
.iconrightside {
  text-align: right;
}


.loyalitycard {
  color: #00AFFF;
}
.dealscard1 {
  color: #cb328f;
}
.refcard {
  color: #cb328f;
}
.dealscard {
  color: #70df70;
}
.howitworks,
.howitworks ion-icon {
  color: #444;
}
.howitworks {
  margin: 15px 15px 0px 15px; 
  text-align: left;
  font-size: 15px;
}
.howitworks ion-icon {
  position: relative;
  top:6px;
  font-size: 25px;
}
.bottom_footer {
  padding: 15px 17px;
  background-color: #fff;
  color: #444;
  font-size: 14px;
}
.bottom_footer .iconmediumsize {
  position: relative;
  top:7px;
}
.alertdanger {
    color: var(--ion-color-danger);
}
