/*
app-image-shell.category-cover1 {
  --image-shell-loading-background: rgba(var(--page-category-background-rgb), .25);
  --image-shell-spinner-color: var(--ion-color-lightest);
}
app-image-shell.category-cover2 {
  --image-shell-loading-background: rgba(var(--page-category-background-rgb), .25);
  --image-shell-spinner-color: var(--ion-color-lightest);
}
app-image-shell.category-cover3 {
  --image-shell-loading-background: rgba(var(--page-category-background-rgb), .25);
  --image-shell-spinner-color: var(--ion-color-lightest);
}
*/
