<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Earn Loyalty
    </ion-title>
    <ion-icon  slot="end" name="hand"  class="iconright" (click)="goto('/referral')"></ion-icon>
    <ion-icon slot="end" class="iconright" (click)="goto('/app/notificationsoriginal')"  name="contacts"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the bottom start -->
  <ion-fab   vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goto_fab()" color="tertiary">
      <ion-icon name="business"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-row class="categories-list">
    <ion-col class="category-item travel-category firstitem " size="12">
      <div class="category-anchor centertext">
            <h2 class="category-title">
              <ion-icon name="barcode" class="iconmain"></ion-icon>
              <br> Tap & Scan <br> Loyalty QR CODE
            </h2>
      </div>
    </ion-col>

    <ion-col class="sometopmargin" size="12">

      <ion-list detail="true">
        <ion-list-header>
          Scan QR Loyalty Code From Participating Businesses & Earn Loyalty In Better Way
        </ion-list-header>

        <!-- Searchbar with a placeholder -->
        <ion-searchbar placeholder="Search Loyalty History"></ion-searchbar>
        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Quantum Insurance</h3>
            <p>21 Scans</p>
          </ion-label>
        </ion-item>

        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Megna Ice Creame Shop</h3>
            <p>5 Scans</p>
          </ion-label>
        </ion-item>

        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Accounting Firm</h3>
            <p>15 Scans</p>
          </ion-label>
        </ion-item>

      </ion-list>


    </ion-col>
  </ion-row>
</ion-content>
