<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Manage Referrals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <p class="howitworks">Manage Referral Program For Your Business. Choose an option below !</p>

  <ion-card   (click)="goto('referrallist')" >
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle  >Referrals You Recieved</ion-card-subtitle>
            <ion-card-title  >List</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="iconrightside">
           <ion-icon  class="loyalitycard" name="list"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-card>

  <ion-card  (click)="goto('registerbusiness2referrals')" >
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle >Your Referral Program Setting</ion-card-subtitle>
            <ion-card-title  >Settings</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="iconrightside">
           <ion-icon class="loyalitycard" name="cog"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-card>





</ion-content>
<ion-footer  >
      <div (click)="goto('registerbusiness6done')" class="bottom_footer alertdanger">In order for app features to work, tap here to finish your business registration <ion-icon class="iconmediumsize" name="arrow-dropright-circle"></ion-icon></div>

      <div (click)="goto('earn-dollars')" class="bottom_footer hide">You Can Earn $25 Every Single Time You... <ion-icon class="iconmediumsize" name="arrow-dropright-circle"></ion-icon></div>
</ion-footer>
