<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Invite Contacts</ion-title>
    <ion-buttons tappable slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list detail="false">
    <ion-list-header>
      Choose one of the below option to invites
    </ion-list-header>

    <!-- Item as a Button -->
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="contacts"></ion-icon> Contacts
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="contacts"></ion-icon> Text Message
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="logo-whatsapp"></ion-icon> Whatsapp
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="mail"></ion-icon> E-Mail
      </ion-label>
    </ion-item>    
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="logo-facebook"></ion-icon> Share On Facebook
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="logo-twitter"></ion-icon> Tweet
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="logo-twitter"></ion-icon> Linkedin
      </ion-label>
    </ion-item>
    <ion-item (click)="openContacts()" detail>
      <ion-label>
        <ion-icon class="myicon" name="logo-pinterest"></ion-icon> Pinterest
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
