<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Share Location</ion-title>
    <a slot="end" class="iconhref iconright whitehref" [routerLink]="['/app/home']">
      <ion-icon tappable    name="home"></ion-icon>
    </a>    
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Share Your Location</ion-label>
      </ion-list-header>
      <p class=""> In order to push marketing campaigns e.g. deals, flyers in your nebourhood we would require
        you to share your location </p>
      <ion-item lines="none">
      </ion-item>
    </ion-list>


    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!validationsForm.valid">Submit</ion-button>
    <ion-button (click)="gotonextpage()" class="aligncenter" fill="clear">Skip creating marketing campaigns</ion-button>
  </form>
</ion-content>
