<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Payment</ion-label>
      </ion-list-header>
      <p class=""> Fee cover running the platform and support</p>
      <ion-item lines="none">
      </ion-item>
    </ion-list>


    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!validationsForm.valid">Submit</ion-button> 
  </form>
</ion-content>
