// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background-shade);

  --page-tags-gutter: 5px;

  --page-color-radio-items-per-row: 5;
  --page-color-radio-gutter: 2%;
  --page-color-radio-width: calc((100% - (2 * var(--page-color-radio-gutter) * var(--page-color-radio-items-per-row))) / var(--page-color-radio-items-per-row));
}

.buddychat-content {
  --background: var(--page-background);

	ion-item-divider {
		--background: var(--page-background);
		--padding-bottom: calc(var(--page-margin) / 2);
		--padding-top: calc(var(--page-margin) / 2);
		--padding-start: var(--page-margin);
		--padding-end: var(--page-margin);

		border: none;
	}
}
.headinginchat {
  border-bottom: 1px solid #ccc;
}
.messages-container {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}
.rightsideiconinchat {
  position: relative;
  top: 4px;
  left: 5px;
}
.catname {
  position: relative;
  top:4px;
  
}
.buddychat,.mychat {
  padding: 0px 5px;
  margin: 5px;
  background-color: #fff;
  width: 80%;
  font-size: 15px;
  clear:both;
}
.buddychat {
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #444;
  color:#fff;
  background-color: #444;
  float:left;
}
.mychat {
  border-radius: 10px 10px 0px 10px;
  border: 1px solid #fff;
  float: right;
}
