<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Martin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding class="buddychat-content">

  <div  class="buddychat"  >
    <p>Hi, When will you be able to come to fix my door ?</p>
  </div>
  <div  class="mychat"  >
    <p>Hi Martin, would tommorow 11am be okay ? Alternatively I can come day after tommorow around 4pm</p>
  </div>


 <div class="buddychat">
     <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Referral Request</span> <ion-icon class="referralicon rightsideiconinchat"    item-end name='arrow-dropright-circle'></ion-icon></h2>
     <p class="typeofreferral">Hi, Can you send me a reliable referral for <ion-badge  class="catname" text-wrap >Accountant</ion-badge></p>
     <div  >"Need to file taxes for last year"</div>
 </div>


 <div class="mychat">
     <h2   class="headinginchat"><span>Referral Sent</span></h2>
     <p class="typeofreferral">Hi, I am sending a referral to you John Smith (1-123-123-1234)</p> 

 </div>

 <div class="buddychat">
     <h2   class="headinginchat"><span> Referral Forwarded</span></h2>
     <p class="typeofreferral">Hi, I forwarded your referral to Gabrielle Union (1-817-123-1234)</p>
     <div  ><ion-badge (click)="saveContactInPhone(item)"  color="primary" class="savecnt" text-wrap >Save Contact</ion-badge></div>
     <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
 </div>
 <div class="buddychat">
     <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Redeem Incentives</span></h2>
     <p class="typeofreferral">Redeem Incentives To Martin For Referral</p>
     <div><ion-badge (click)="fnviewincentiverequst(item)"  color="dark" class="savecnt" text-wrap >View Redeem Request</ion-badge></div>
</div>
 <div  class="mychat"  >
   <p>Thanks for forwarding my referral Martin. You should see referral incentive in your app. Let me know if you have any questions</p>
 </div>


  <ng-container *ngFor="let items  of allmessagesGroups ; let i = index;let last = last;">
     {{last ? callFunctionScroll() : ''}}
      <ion-list-header class="dayheader" *ngIf="items.dateofmsg == todaydate" align="center">Today</ion-list-header>
      <ion-list-header class="dayheader" *ngIf="items.dateofmsg != todaydate" align="center">{{items.dateofmsg}}</ion-list-header>
      <div *ngFor="let item of items.message_item; ">


          <div  [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'"
          *ngIf="item.type == 'message' && (!item.selectCatId || item.selectCatId<=0) &&
          !item.referral_type && !item.request_to_release_incentive && !item.referral_redeemed">
            <p>{{item.message}}</p>
          </div>

          <div [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="item.type == 'message' && item.referral_redeemed">
              <h2 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Incentives Redeemed</span></h2>
              <p class="typeofreferral">Your request to redeem incentives has been approved</p>
              <div><ion-badge (click)="fnSendToEarningsPage()"  color="dark" class="savecnt" text-wrap >View Details</ion-badge></div>
         </div>


              <div [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="item.type == 'message' && item.request_to_release_incentive">
                  <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Redeem Incentives</span></h2>
                  <p class="typeofreferral">Redeem Incentives For Referral Request</p>
                  <div><ion-badge (click)="fnviewincentiverequst(item)"  color="dark" class="savecnt" text-wrap >View Redeem Request</ion-badge></div>
             </div>

           <div [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="item.type == 'message' && item.referral_type && item.referral_type == 'backward'">
               <h2   class="headinginchat"><span>Referral Sent</span></h2>
               <p class="typeofreferral">Hi, I am sending a referral to you</p>
               <div *ngIf="item.referral.mobile">{{item.referral.displayName}} ({{item.referral.mobile}})</div>
               <div *ngIf="!item.referralSavedOnPhone"><ion-badge (click)="saveContactInPhone(item)"  color="primary" class="savecnt" text-wrap >Save Contact</ion-badge></div>
               <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
           </div>

           <div [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="item.type == 'message' && item.referral_type && item.referral_type == 'forward'">
               <h2   class="headinginchat"><span> Referral Forwarded</span></h2>
               <p class="typeofreferral">Hi, I forwarded your referral to</p>
               <div *ngIf="item.referral.mobile">{{item.referral.displayName}} ({{item.referral.mobile}})</div>
               <div *ngIf="!item.referralSavedOnPhone"><ion-badge (click)="saveContactInPhone(item)"  color="primary" class="savecnt" text-wrap >Save Contact</ion-badge></div>
               <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
           </div>

           <div [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="item.type == 'message' && item.selectCatId && item.selectCatId>0">
               <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Referral Request</span> <ion-icon class="referralicon"    item-end name='arrow-dropright-circle'></ion-icon></h2>
               <p class="typeofreferral">Hi, Can you send me a reliable referral for <ion-badge  class="catname" text-wrap >{{item.selectCatName}}</ion-badge></p>
               <div *ngIf="item.message && !item.request_to_release_incentive && !item.referral_redeemed">"{{item.message}}"</div>
           </div>

           <div [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="item.multiMessage && item.type=='image'">
               <div (click)="openAllImg(item.message,$event)" class="selection-data">
                   <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                       src="{{pic}}" />
                   <span class="img-number overlay">+ {{item.message.length - 4}}</span>
               </div>
           </div>

           <div (click)="openAllImg(item.message,$event)" [ngClass]="(item.sentby==buddy_uid) ? 'buddychat' : 'mychat'" *ngIf="!item.multiMessage && item.type == 'image'">
               <img src="{{item.message}}" *ngIf="item.type == 'image'" class="msg" #mychatImage
                   />
           </div>

      </div>
   </ng-container>
</ion-content>

<ion-footer ion-fixed>
        <ion-toolbar class="no-border" color="white">
          <!-- Textarea in an item with a placeholder -->
          <ion-item lines="none">
            <ion-textarea [(ngModel)]="newmessage" placeholder="Type to send message"></ion-textarea>
            <ion-buttons end>
              <a ion-button (click)="openAttachment($event)">
                  <ion-icon class="ion-image iconmediumsize" ios="md-attach" md="md-attach"></ion-icon>
              </a>
              <ion-button (click)="addmessage_async()" color="primary"><ion-icon class="iconmediumsize" name="send"></ion-icon></ion-button>
            </ion-buttons>
          </ion-item>

        </ion-toolbar>
</ion-footer>
