 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="loyalty">
      <ion-icon name="barcode"></ion-icon>
      <ion-label class="tab-title">Loyalty</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="deals">
      <ion-icon name="gift"></ion-icon>
      <ion-label class="tab-title">Deals</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon name="send"></ion-icon>
      <ion-label class="tab-title">Referral</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!--
<ion-tab-button tab="notifications">
  <ion-icon name="contacts"></ion-icon>
  <ion-label class="tab-title">Contacts </ion-label>
  <ion-badge color="danger" style="position:absolute;">2</ion-badge>
</ion-tab-button>

-->
