<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

      <ion-row class="user-details-section">
        <ion-col class="user-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <ion-icon class="iconcamera" *ngIf="!userImage" name="camera"></ion-icon>
            <app-image-shell class="user-image" *ngIf="userImage" animation="spinner" [src]="userImage"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
      </ion-row>

    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Tell us a bit about you</ion-label>
      </ion-list-header>

      <ion-item class="input-item">
        <ion-label position="floating">Your Name</ion-label>
        <ion-input type="text" [value]="fullname" formControlName="name" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div class="error-message" *ngIf="validationsForm.get('name').hasError(validation.type) && (validationsForm.get('name').dirty || validationsForm.get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>


    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid">Done</ion-button>
  </form>
</ion-content>
