<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Deal History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="categories-list">
    <ion-col class="category-item fashion-category firstitem " size="12">
      <div class=" centertext">
            <ion-card (click)="fnmaincardwork()" class="businessitem">
              <ion-card-header>
                <ion-card-subtitle>Megna Insurance</ion-card-subtitle>
                <ion-card-title>Mary Thomas</ion-card-title>
              </ion-card-header>
              <ion-card-content class="centertext">
                <div class="">
                  <ion-text color="dark" class="">
                     Here is your deal claim history
                  </ion-text>
                </div>
              </ion-card-content>
            </ion-card>
      </div>

    </ion-col>
</ion-row>



<ion-row class="categories-list">
  <ion-col class="" size="12">

    <ion-list>

      <ion-list-header >
        <ion-label><strong>Deal Claim History  </strong></ion-label>
      </ion-list-header>

      <div class="ion_item" *ngFor="let item of items" >
            <ion-grid>
              <ion-row >
               <ion-col size="10" >
                 <ion-label  >{{item.name}}
                 <br><p>{{item.date}}</p></ion-label>
               </ion-col>
               <ion-col size="2" >
                 <ion-icon *ngIf="!item.claimed" class="  iconmediumsize" name="radio-button-off"></ion-icon>
                 <ion-icon *ngIf="item.claimed" class="greentext iconmediumsize" name="checkmark-circle"></ion-icon>
               </ion-col>
             </ion-row>

         <ion-row  *ngIf="item.note_from_business">
          <ion-col size="12" >
            <p   *ngIf="item.note_from_business"  [ngClass]="item.claimed?'greentext note_from_business':'note_from_business'">{{item.note_from_business}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>

       <ion-list-header (click)="loadItems()">
         <ion-label><strong>Load More <ion-icon name="play"></ion-icon></strong></ion-label>
       </ion-list-header>


     </ion-list>

  </ion-col>
</ion-row>


</ion-content>
