<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Import Customers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card    text-center padding  >
    <ion-card-header>
      <ion-card-subtitle>Checking Contacts</ion-card-subtitle>
      <ion-card-title> {{contactProvider.contactInsertCounter}} of {{contactProvider.contactTotalCounter}}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <p>
         Your contacts data is not sent to server without your permission. It is used to make it easy for you to exchange referrals. The database stays in your phone
      </p>
      <p></p>
    </ion-card-content>
 </ion-card>

</ion-content>
