<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Get Referral</ion-title>
    <ion-icon slot="end" class="iconright" (click)="askForReferral()"  name="arrow-dropleft-circle"></ion-icon>
  </ion-toolbar>

</ion-header>


<ion-content  padding  >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Get Referral</ion-card-subtitle>
      <ion-card-title>Ask For A Referral</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Post a request to get referral in your network. Get trusted referral with ease
    </ion-card-content>
  </ion-card>


  <!-- List of Text Items -->
  <ion-list detail="true" lines="full" class="users-list">
    <!-- Searchbar with a placeholder -->
    <ion-list no-lines>
      <ion-item  class="itemlistref mainitemlist" >
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Filter categories"></ion-searchbar>
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <ion-item detail="true" tappable  class="itemlistref mainitemlist"  *ngFor="let item of items" (click)="selCategory(item.id)">
           <ion-label class="shelllayer">
             {{item.name}}
           </ion-label>
      </ion-item>
    </ion-list>

  </ion-list>

</ion-content>
