<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories/travel"></ion-back-button>
    </ion-buttons>
    <ion-title>Travel Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="travel-details-content">
  <ion-row class="image-row">
    <ion-col size="12">
      <app-image-shell [mode]="'cover'" animation="spinner" class="add-overlay details-image" [src]="details?.image">
        <app-aspect-ratio [ratio]="{w:64, h:50}">
          <div class="icon-wrapper">
            <app-aspect-ratio [ratio]="{w: 47, h: 25}">
              <app-image-shell [src]="details?.icon" class="details-icon"></app-image-shell>
            </app-aspect-ratio>
          </div>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
  <ion-row class="description-row">
    <ion-col size="12">
      <h3 class="details-name">
        <app-text-shell animation="bouncing" [data]="details?.name?.concat(' - ', details?.category)"></app-text-shell>
      </h3>
      <p class="details-short-description">
        <app-text-shell animation="bouncing" [data]="details?.shortDescription"></app-text-shell>
      </p>
    </ion-col>
    <ion-col size="12">
      <div class="details-score">
        <div class="score-item">
          <ion-icon class="score-icon" src="./assets/sample-icons/travel/star.svg"></ion-icon>
          <div class="score-value">
            <app-text-shell [data]="details?.rating"></app-text-shell>
          </div>
        </div>
        <div class="score-item">
          <ion-icon class="score-icon" src="./assets/sample-icons/travel/comments.svg"></ion-icon>
          <div class="score-value">
            <app-text-shell [data]="details?.reviewsCount"></app-text-shell>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <ion-row class="details-tags">
        <ion-col class="tag-wrapper" *ngFor="let tag of details?.tags">
          <span class="item-tag">
            <app-text-shell [data]="tag"></app-text-shell>
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12">
      <p class="details-description">
        <app-text-shell animation="bouncing" lines="6" [data]="details?.fullDescription"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>
  <div class="open-hours-wrapper">
    <h3 class="detail-title">When?</h3>
    <ul class="schedules-list">
      <li class="open-hour-item" *ngFor="let schedule of details?.openHours">
        <div class="schedule-outer">
          <span class="schedule-day">
            <app-text-shell [data]="schedule.day"></app-text-shell>
          </span>
          <div class="schedule-hours">
            <ng-container *ngIf="schedule.open">
              <span class="schedule-value">
                <app-text-shell [data]="schedule.hourFrom"></app-text-shell>
              </span>
              <span class="schedule-separator">to</span>
              <span class="schedule-value">
                <app-text-shell [data]="schedule.hourTo"></app-text-shell>
              </span>
            </ng-container>
            <ng-container *ngIf="!schedule.open">
              <ion-badge class="schedule-closed" color="medium">closed</ion-badge>
            </ng-container>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="location-wrapper">
    <div class="location-header">
      <h3 class="detail-title">Where?</h3>
      <span class="location-address">
        <app-text-shell [data]="details.location?.address"></app-text-shell>
      </span>
    </div> 
    <app-aspect-ratio [ratio]="{w: 64, h: 30}">
      <app-image-shell class="location-image" animation="spinner" [src]="details.location?.mapImage"></app-image-shell>
    </app-aspect-ratio>
  </div>
  <div class="suggested-places-wrapper" *ngIf="details?.whereToStay && details.whereToStay.length > 0">
    <h3 class="detail-alt-title">Need a place to stay?</h3>
    <ion-row class="suggested-places-row">
      <ion-col size="4" class="suggested-place" *ngFor="let placeToStay of details?.whereToStay">
        <app-aspect-ratio [ratio]="{w: 18, h: 23}">
          <app-image-shell class="place-picture" animation="spinner" [src]="placeToStay.picture"></app-image-shell>
        </app-aspect-ratio>
        <div class="place-details">
          <h5 class="place-name">
            <app-text-shell [data]="placeToStay.name"></app-text-shell>
          </h5>
          <div class="place-rating">
            <ion-icon class="rating-icon" name="star-outline"></ion-icon>
            <div class="rating-value">
              <app-text-shell [data]="placeToStay.rating"></app-text-shell>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="suggested-places-wrapper" *ngIf="details?.whereToEat && details.whereToEat.length > 0">
    <h3 class="detail-alt-title">Grab a bite?</h3>
    <ion-row class="suggested-places-row">
      <ion-col size="4" class="suggested-place" *ngFor="let placeToEat of details?.whereToEat">
        <app-aspect-ratio [ratio]="{w: 18, h: 23}">
          <app-image-shell class="place-picture" animation="spinner" [src]="placeToEat.picture"></app-image-shell>
        </app-aspect-ratio>
        <div class="place-details">
          <h5 class="place-name">
            <app-text-shell [data]="placeToEat.name"></app-text-shell>
          </h5>
          <div class="place-rating">
            <ion-icon class="rating-icon" name="star-outline"></ion-icon>
            <div class="rating-value">
              <app-text-shell [data]="placeToEat.rating"></app-text-shell>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="related-activities-wrapper" *ngIf="details?.relatedActivities && details.relatedActivities.length > 0">
    <h3 class="detail-alt-title">More activities?</h3>
    <ion-row class="related-activity" *ngFor="let relatedActivity of details?.relatedActivities">
      <ion-col size="12">
        <app-image-shell [mode]="'cover'" animation="spinner" class="related-activity-picture" [src]="relatedActivity.picture">
          <app-aspect-ratio [ratio]="{w:64, h:23}">
          </app-aspect-ratio>
        </app-image-shell>
      </ion-col>
      <ion-col size="12" class="activity-details">
        <h5 class="activity-name">
          <app-text-shell [data]="relatedActivity.name"></app-text-shell>
        </h5>
        <span class="activity-category">
          <app-text-shell [data]="relatedActivity.category"></app-text-shell>
        </span>
        <div class="activity-rating">
          <ion-icon class="rating-icon" name="star-outline"></ion-icon>
          <div class="rating-value">
            <app-text-shell [data]="relatedActivity.rating"></app-text-shell>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
