<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Earn Incentives
    </ion-title>
    <ion-icon  slot="end" name="hand"  class="iconright" (click)="goto('/referral')"></ion-icon>
    <ion-icon slot="end" class="iconright" (click)="goto('/app/notificationsoriginal')"  name="contacts"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the bottom start -->
  <ion-fab (click)="goto_fab()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="business"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row class="categories-list">
    <ion-col class="" size="12">
      <div class="topbar_locationpicker_cat  ">
            <ion-badge class="highlight_location" color="dark">
              <ion-icon class="iconloc" name="pin"></ion-icon> <span class="spanloc">TORONTO</span></ion-badge>
      </div>
      <div class="topbar_locationpicker hide ">
            <ion-badge  color="dark">
              <ion-icon class="iconloc" name="send"></ion-icon> <span class="spanloc">11 Referrals Sent</span></ion-badge>
      </div>
    </ion-col>

    <ion-col class="category-item fashion-category  " size="12">
      <div class="category-anchor centertext">
            <h2 class="category-title">
              <ion-icon name="send" class="iconmain"></ion-icon>
              <br> Earn Incentives
              <br> By Sending <Br>Referrals
            </h2>
      </div>
    </ion-col>

    <ion-col class="sometopmargin" size="12">

      <ion-list detail="true">


                <ion-list-header>
                  <ion-label>Earn Incentives By Sending A Referral To Following Businesses</ion-label>
                </ion-list-header>


        <!-- Searchbar with a placeholder -->
        <ion-searchbar placeholder="Search Local Businesses"></ion-searchbar>


        <ion-item (click)="fnmaincardwork()" detail="true">
          <ion-label>
            <ion-badge class="markcounter" slot="end" color="success">3</ion-badge>
            <h3>XYZ Insurance</h3>
            <p>$50 </p>
          </ion-label>
        </ion-item>

        <ion-item tappable (click)="fnmaincardwork()" detail="true">
          <ion-label> 
            <h3>Expert Roofing</h3>
            <p>$100 Gift Card  </p>
          </ion-label>
        </ion-item>

        <ion-item (click)="fnmaincardwork()" detail="true">
          <ion-label>
            <h3>Barma Accounting</h3>
            <p>20 Hours of Accounting Service </p>
          </ion-label>
        </ion-item>

        <ion-item (click)="fnmaincardwork()" detail="true">
          <ion-label>
            <h3>YOYO Law Firm</h3>
            <p>$25 Cash </p>
          </ion-label>
        </ion-item>
      </ion-list>


    </ion-col>
  </ion-row>
</ion-content>


<!--

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Referral Incentives
    </ion-title>
    <ion-icon slot="end" class="iconright" (click)="askForReferral()"  name="add-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item fashion-category firstitem " size="12">
      <div class="category-anchor centertext">
            <h2 class="category-title">
              <ion-icon name="arrow-dropright-circle" class="iconmain"></ion-icon>
              <br> Send A Referral
              <br><small>Earn Incentives By<br> Sending A Referral<br> To Following Businesses</small>
            </h2>
      </div>


      <ion-item lines="none" >
        <ion-button  (click)="fnmaincardwork()" class="aligncenter" color="medium">Check Your Earnings <ion-icon class="iconleftmargin" name="gift"></ion-icon></ion-button>
      </ion-item>
    </ion-col>

    <ion-col class=" " size="12">
      <div class=" centertext">
            <ion-card  class="businessitem">
              <ion-card-header tappable (click)="fnmaincardwork()">
                <ion-card-subtitle>Artee Roofing Inc</ion-card-subtitle>
                <ion-card-title>Gary Downing</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button  (click)="fnSendReferral()" shape="round">Send Referral <ion-icon class="iconleftmargin" name="arrow-dropright-circle"></ion-icon></ion-button>
                <ion-list tappable (click)="fnmaincardwork()" >
                  <ion-item detail="false" lines="true">
                    <ion-note slot="start">Incentives</ion-note>
                    <ion-note slot="end">$100 Gift Card</ion-note>
                  </ion-item>
                </ion-list>

              </ion-card-content>
            </ion-card>
      </div>
      <div class=" centertext">
            <ion-card   class="businessitem">
              <ion-card-header tappable (click)="fnmaincardwork()">
                <ion-card-subtitle>Megna Insurance</ion-card-subtitle>
                <ion-card-title>Mary Thomas</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button  (click)="fnSendReferral()" shape="round">Send Referral <ion-icon class="iconleftmargin" name="arrow-dropright-circle"></ion-icon></ion-button>
                <ion-list tappable (click)="fnmaincardwork()" >
                  <ion-item detail="false" lines="true" >
                    <ion-note slot="start">Incentives</ion-note>
                    <ion-note slot="end">$50 Cash</ion-note>
                  </ion-item>
                </ion-list>

              </ion-card-content>
            </ion-card>
      </div>
    </ion-col>

  </ion-row>


      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="business"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
-->
