<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Deal</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Create Deal</ion-label>
      </ion-list-header>
      <p class=""> Create deals or upload flyer to expand your market outreach</p>



    <ion-item class="input-item">
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" placeholder="20% off regular price" formControlName="name" clearInput></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.name">
        <div class="error-message" *ngIf="validationsForm.get('name').hasError(validation.type) && (validationsForm.get('name').dirty || validationsForm.get('name').touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>

    <ion-item class="input-item">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea  formControlName="description" placeholder="E.g. 20% off Landscape lightning and 20% off outdoor wall light fixtures with cupon..."></ion-textarea>
    </ion-item>

    <ion-item class="input-item" lines="none">
    <ion-label position="floating">Upload Files (Optional)</ion-label>
        <ion-grid class="maingrid">
          <ion-row>
            <ion-col size="3">
              <div class="roundblock">Logo</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Flyer 1</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Flyer 2</div>
            </ion-col>
            <ion-col size="3">
              <div class="roundblock">Flyer 3</div>
            </ion-col>
          </ion-row>
        </ion-grid>


    </ion-item>
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!validationsForm.valid">Submit</ion-button>
    <ion-button (click)="gotonextpage()" class="aligncenter" fill="clear">Skip creating marketing campaigns</ion-button>
  </form>
</ion-content>
