ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}
.hide {
  display: none;
}
.centertext {
  text-align: center;
}
.aligncenter {
  margin: 0 auto;
}
.iconleftmargin {
  margin-left: 5px;
}
.circularbtn {
}
.iconright {
  margin: 0px 10px 0px 0px;
  font-size: 28px;
}
.iconleft {
  font-size: 28px;
}
.iconbtninsidebtn {
  font-size: 28px;
}
.leftmargin_topbtn,.iconleft {
  margin: 0px 0px 0px 10px;
}



/*card start*/
.leftbarinfo {
  margin-left: 10px;
  font-size:12px;
}
.referral_for_friend {
  color:#000;
  margin:0px;
  border-width: 0px 1px 1px 1px;
  border-color: #e2dbf9;
  border-style: solid;
  background-color: #f1eefc !important;
  padding: 7px 10px 7px 15px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.fadetext {
  overflow:  hidden;
  font-size: 1.4rem;
  text-overflow:  clip;
  color: #666;
}
.itemside {

}
.notpaidbar {
  padding: 10px;
  background-color: #c2565a !important;
  color:#fff;
  border: 1px solid #c2565a;
  font-size: 15px;
}


/*Ripple Effect Start*/
.mainitemlist:active {
    background-color: #90EE90;
    -webkit-animation: all 0.4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: all 0.4s; /* Firefox < 16 */
        -ms-animation: all 0.4s; /* Internet Explorer */
         -o-animation: all 0.4s; /* Opera < 12.1 */
            animation: all 0.4s;

}
/*Ripple Effect End*/


ion-content {
  -webkit-animation: fadein 100ms; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 100ms; /* Firefox < 16 */
      -ms-animation: fadein 100ms; /* Internet Explorer */
       -o-animation: fadein 100ms; /* Opera < 12.1 */
          animation: fadein 100ms;
}

.fadeInAnimation_Slow {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

.maincard_bubble {

  background-image: linear-gradient(45deg, #f1eefc 0%, #f1eefc 99%, #fff 100%);
  border-radius: 15px 50px 30px;
  max-width: 300px;
  margin: 100px auto;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*card end*/

.hide {
  display:none;
}
.tabs .tabbar {
    background-color: #f1eefc;
    border:1px solid #e2dbf9;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true],
.tabs-md .tab-button[aria-selected=true]
{
    color: #333 !important;
}

.atthebottom button {
     font-size: 12px;
     text-align: right;
     float:right;
     padding: 0px 10px 0px 0px;
     margin:0px;
}
.header .toolbar {
    padding: 0px;
    /*border-bottom: 2px solid #7041c1;*/
}

/*
,
.toolbar > .toolbar-background
*/
.content-md,
.content-ios
{
    background-color: #fff !important;
}
.herocard .content-title {
    font-size: 18px;
}
.herocard {
    padding-bottom:20px;
}
.iconpick {
   font-size: 25px;
}



.header .toolbar-md-dark .backbtncss,
.header .toolbar .backbtncss {
  font-size: 30px;
  margin-right:15px;
  margin-left:10px;
}
.btnInHeaderVeryLast {
  margin-right:15px;
}
.header .toolbar-md-dark .rightsidebtncss,
.header .toolbar .rightsidebtncss {
  font-size: 30px;
  margin-right: 5px;
  margin-top: -6px;
}
.righbtnontop {
  margin-right:10px;
}
.strongwords {
  font-weight: normal;
}
.givepadding{
  padding: 50px 10px;
}
.hideme {
  display:none;
}
.pull-center {
   text-align: center;
}
.myCustomSelect{
  width: 100%;
max-width: 100% !important;
}
.topmargin-20 {
  margin-top:20px;
}
.header .toolbar-md-dark,
.header .toolbar {
    padding: 0px;
}
.title-uname > h5 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top:3px;
  margin-top:3px;
}
.header-ios .bar-buttons-ios .title-uname > h5 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top:0px;
  margin-top:0px;
}
/*
.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}


.brandion img {
    height: 35px;
    margin-top: 5px;
}
.brand-wording {
    top: -11px;
    position:relative;
    color:#fff;
}


.helpicon {
   margin-left:5px;
}

.top-margin-large {
    margin-top: 170px;
}

.flex-end-notif {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  order:3;
  ion-icon {
    &.notification {
      font-size: 28px !important;
    }
  }
  ion-badge {
    &.notification {
      margin-left: -13px;
      margin-top: -13px;
      font-size: 11px;
      padding: 4px;
    }
  }
}
*/
/*
ion-footer {
  background-color: map-get($colors, primary);
  color: #fff;
}
.text_color_primary {
  color: map-get($colors, primary);
}
.text_color_sec {
  color: map-get($colors, secondary);
}
.toolbar-content > .title {
  background-color: map-get($colors, primary);
}
.toolbar-title {
  color:#fff;
}
ion-header > ion-navbar .bar-button-default-ios,
ion-header > ion-navbar .bar-button-default.bar-button-ios-default,
ion-header > ion-navbar .bar-button-clear-ios-default {
    color:#fff;
}
button.btn {
    background-color:map-get($colors, primary);
}

ion-header,
ion-header > ion-navbar,
ion-header > ion-navbar .toolbar-background
{
      background-color: map-get($colors, primary);
}
.toolbar-background
{
      background-color: map-get($colors, primary);
}
*/
