<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Manage Deals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <p class="howitworks">Manage Deals For Your Business. Choose an option below !</p>

   <ion-card  (click)="goto('registerbusiness5marketing')" >
     <ion-grid>
       <ion-row>
         <ion-col size="9">
           <ion-card-header>
             <ion-card-subtitle >Create New Deal</ion-card-subtitle>
             <ion-card-title  >Create</ion-card-title>
           </ion-card-header>
         </ion-col>
         <ion-col size="2" class="iconrightside">
            <ion-icon class="dealscard" name="add"></ion-icon>
         </ion-col>
         <ion-col size="1">
         </ion-col>
       </ion-row>
    </ion-grid>
   </ion-card>

 <ion-card  (click)="goto('dealslist')" >
   <ion-grid>
     <ion-row>
       <ion-col size="9">
         <ion-card-header>
           <ion-card-subtitle >List Of My Deals</ion-card-subtitle>
           <ion-card-title  >List</ion-card-title>
         </ion-card-header>
       </ion-col>
       <ion-col size="2" class="iconrightside">
          <ion-icon class="dealscard" name="list"></ion-icon>
       </ion-col>
       <ion-col size="1">
       </ion-col>
     </ion-row>
  </ion-grid>
 </ion-card>
 





</ion-content>
<ion-footer  >
      <div (click)="goto('registerbusiness6done')" class="bottom_footer alertdanger">In order for app features to work, tap here to finish your business registration <ion-icon class="iconmediumsize" name="arrow-dropright-circle"></ion-icon></div>

      <div (click)="goto('earn-dollars')" class="bottom_footer hide">You Can Earn $25 Every Single Time You... <ion-icon class="iconmediumsize" name="arrow-dropright-circle"></ion-icon></div>
</ion-footer>
