<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Burgundy.app
    </ion-title>

    <ion-icon  slot="end" name="hand"  class="iconright" (click)="goto('/referral')"></ion-icon>
    <ion-icon slot="end" class="iconright" (click)="goto('/app/notificationsoriginal')"  name="contacts"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="hidemetemp" placeholder="Search Participating Business"></ion-searchbar>

    <p (click)="goto('howitworks')" class=" howitworks">How it Works <ion-icon  name="information-circle"></ion-icon></p>

  <ion-card   (click)="goto('app/loyalty')" >
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle  >Scan Loyalty Card</ion-card-subtitle>
            <ion-card-title  >Loyalty</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="iconrightside">
           <ion-icon  class="loyalitycard" name="barcode"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-card>

  <ion-card  (click)="goto('app/deals')" >
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle >Save On Local Deals</ion-card-subtitle>
            <ion-card-title  >Deals</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="iconrightside">
           <ion-icon class="dealscard" name="gift"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-card>

  <ion-card (click)="goto('app/categories')" >
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle >Send Referral & Earn</ion-card-subtitle>
            <ion-card-title   >Referral</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="iconrightside">
           <ion-icon  class="refcard" name="send"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-card>




</ion-content>
<ion-footer   >
      <div (click)="goto('registerbusiness6done')" class="bottom_footer alertdanger hide">In order for app features to work, tap here to finish your business registration <ion-icon class="iconmediumsize" name="arrow-dropright-circle"></ion-icon></div>

      <div (click)="goto('earn-dollars')" class="bottom_footer ">You Can Earn $25 Every Single Time You... <ion-icon class="iconmediumsize" name="arrow-dropright-circle"></ion-icon></div>
</ion-footer>
