<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Refer & Earn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
