<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Earn Incentives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="categories-list">
    <ion-col class="category-item fashion-category firstitem " size="12">
      <div class=" centertext">
            <ion-card (click)="fnmaincardwork()" class="businessitem">
              <ion-card-header>
                <ion-card-subtitle>XYZ Insurance</ion-card-subtitle>
                <ion-card-title>John Smith</ion-card-title>
              </ion-card-header>
              <ion-card-content class="centertext">
                <h1>Your 3 out of 5 Referrals Are Marked Redeemed</h1>
                <ion-progress-bar color="danger" value="0.4"></ion-progress-bar>
                <!-- Notes in a List -->
                <div class="textinfo">
                  <ion-text color="dark" class="">
                    John Smith will redeem you following incentive for each sale closed through your referral <h3><ion-badge color="primary">$50 Gift Card</ion-badge></h3>
                  </ion-text>
                </div>

              </ion-card-content>
            </ion-card>
      </div>

    </ion-col>
</ion-row>


<ion-row class="categories-list">
  <ion-col class="centertext" size="12">
      <p>Click Below To Earn Incentives </p>

       <ion-button (click)="requestservice()" color="dark"><ion-icon name="hand"></ion-icon> Request Service</ion-button>
      <br><ion-button (click)="sendareferral()" color="dark"><ion-icon name="send"></ion-icon> Send A Referral</ion-button>
  </ion-col>
 </ion-row>

<ion-row class="categories-list">
  <ion-col class="" size="12">

    <ion-list>
       <ion-list-header (click)="loadItems()">
         <ion-label>Referrals You Sent (10) <ion-icon name="play"></ion-icon></ion-label>
       </ion-list-header>
       <div class="ion_item" *ngFor="let item of items" >

             <ion-grid>
               <ion-row >
                <ion-col size="10" >
                  <ion-label  >{{item.name}}
                  <br><p>{{item.date}}</p></ion-label>
                </ion-col>
                <ion-col size="2" >
                  <ion-icon *ngIf="!item.status" class="redtext iconmediumsize" name="close-circle"></ion-icon>
                  <ion-icon *ngIf="item.status == 1" class="greentext iconmediumsize" name="checkmark-circle"></ion-icon>
                  <ion-icon *ngIf="item.status == 2"  class="iconmediumsize"    name="radio-button-off"></ion-icon>
                </ion-col>
              </ion-row>

          <ion-row  *ngIf="item.note_from_business || item.status == 2">
           <ion-col size="12" >
             <p   *ngIf="item.note_from_business"  [ngClass]="!item.status?'redtext note_from_business':'note_from_business'">{{item.note_from_business}}</p>
             <p   *ngIf="item.status == 2" class="note_from_business">John Smith is processing your referral</p>
           </ion-col>
         </ion-row>
       </ion-grid>

       </div>

       <ion-item class="hide" detail = false><ion-label>Raveender Paul</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
       <ion-item class="hide" detail = false><ion-label>John Mary</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
       <ion-item class="hide" detail = false><ion-label>Vinessa Bally</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>

       <ion-item class="hide" lines="none" detail="false"><ion-label color="primary" text-wrap>John Smith Sent You Incentives ($25 Gift Card)</ion-label><ion-note slot="end">29 June 2019</ion-note>
      </ion-item>
        <ion-item class="hide" detail="false" >
          <ion-label color="primary" text-wrap>Note From John Smith : A Gift card of $25 is send at your address. Please call us if you do not recieve withing 5-7 business days</ion-label>
       </ion-item>

       <ion-item class="hide" detail = false><ion-label>Parang Hio</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
     </ion-list>

  </ion-col>
</ion-row>


</ion-content>
