
.incentivetext {
  margin: 5px 0px 40px 0px;
  padding: 15px;
  background-color: #efefef;
  text-align: center;
}
.businessitem {
  margin-top: 50px;

}
.ion_item {
  border-bottom: 1px solid #cdcdcd;
}  
.textinfo {
  margin-top: 15px;
}
.note_from_business {
  margin: 0px;
}
