<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
    <ion-icon slot="end" class="iconright" (click)="addbuddy()"  name="add-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content   class="notifications-content">


  <ng-container >
    <ion-item-group>
      <!-- Searchbar with a placeholder -->
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Filter Contacts"></ion-searchbar>
      <ion-item  detail="false"  class="notification-item" lines="none" *ngFor="let friend of myfriends">
        <ion-row class="notification-item-wrapper">
          <ion-col size="2"  (click)="gotobuddypage(friend)">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="notification-image" [src]="friend.photoURL" [alt]="'user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper" (click)="gotobuddypage(friend)">
            <h2 class="details-name">
              <app-text-shell animation="bouncing" [data]="friend.displayName"></app-text-shell>
              <ion-note text-wrap *ngIf="friend.business">
                <app-text-shell   [data]="friend.business"></app-text-shell>
              </ion-note>
            </h2>
            <p  [ngClass]="(friend.read) ? 'cssread' : 'cssnotread'"    class="details-description">
              <span *ngIf="friend.lastMessage.type == 'message' && !friend.lastMessage.message && ( friend.lastMessage.selectCatId || friend.lastMessage.referral_type)" class="lastMSG">Referral Request</span>
              <span *ngIf="friend.lastMessage.type == 'message' && friend.lastMessage.message" class="lastMSG">{{friend.lastMessage.message}}</span>
              <span *ngIf="friend.lastMessage.type == 'image'" class="lastMSG">
                <ion-icon name="camera" class="list"></ion-icon> Photo
              </span>
              <span *ngIf="friend.lastMessage.type == 'contact'" class="lastMSG">
                <ion-icon name="contact" class="list"></ion-icon> Contact
              </span>
              <span *ngIf="friend.lastMessage.type == 'audio'" class="lastMSG">
                <ion-icon name="musical-note" class="list"></ion-icon> Audio
              </span>
              <span *ngIf="friend.lastMessage.type == 'document'" class="lastMSG">
                <ion-icon name="document" class="list"></ion-icon> document
              </span>
              <span *ngIf="friend.lastMessage.type == 'location'" class="lastMSG">
                <ion-icon name="locate" class="list"></ion-icon> location
              </span>
            </p>
          </ion-col>

          <ion-col size="2" style="text-align:right;"  (click)="sendReferral(friend.uid)" >
            <ion-icon  color="dark"
            class="iconrightfont" name="arrow-dropright-circle"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-item>
    </ion-item-group>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addbuddy()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ng-container>
</ion-content>
