<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>You Received Referral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

    <ion-card class="centertext">
      <ion-card-header>
        <ion-card-subtitle>Yukon Hira Send You A Referral</ion-card-subtitle>
        <ion-card-title>Johny Menedna </ion-card-title>

          <ion-card-content>

            <ion-chip>
              <ion-icon name="call"></ion-icon>
              <ion-label>(647) 123-1237</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-icon name="text"></ion-icon>
              <ion-label>(647) 123-1237</ion-label>
            </ion-chip>

        </ion-card-content>
      </ion-card-header>
    </ion-card>



    <ion-list class="inputs-list" lines="full">
      <p class=""> Good News, You Got A Referral. Now further motivate your consumers by offering incentives for referrals they send back to you </p>



      <ion-item class="input-item">
        <ion-label position="floating" >Referral Incentives</ion-label>
        <ion-input   type="text"  formControlName="referral_incentive_detail_txt" id="referral_incentive_detail_txt" [value]="referral_incentive_detail_txt" [(ngModel)]="referral_incentive_detail_txt"
        maxlength="300" placeholder="$50 Gift Card"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label  position="floating"  >Message to Yukon Hira</ion-label>
        <ion-textarea  formControlName="redeem_instructions" placeholder="E.g. The gift card will be mailed to you within 5-10 business days at your address."></ion-textarea>
      </ion-item>

      <ion-item class="input-item lastitem ">
              <ion-label>Save Message For Future Use </ion-label>
              <ion-checkbox checked formControlName="terms"></ion-checkbox>
      </ion-item>
          <ion-button class="submit-btn" type="submit" expand="block"  >Save Contact & Mark Redeemed</ion-button>
          <ion-button class="submit-btn" color="warning" type="button"  expand="block"  >Reject Referral</ion-button>
    </ion-list>



  </form>
</ion-content>
