<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


<ion-list detail="true">
 <ion-list-header>
            Your Notifications
  </ion-list-header>
  <ion-item detail>
    <ion-label>
      Redeemed Loyality Point
    </ion-label>
    <ion-note slot="end"> Referral Recieved </ion-note>
  </ion-item>
  <ion-item detail>
    <ion-label>
      Referral Recieved
    </ion-label>
    <ion-note slot="end"> Referral Recieved </ion-note>
  </ion-item>
  <ion-item detail>
    <ion-label>
      Request to release Incentives
    </ion-label>
    <ion-note slot="end"> Release incentives </ion-note>
  </ion-item>
  <ion-item detail>
    <ion-label>
      Gurjeet Want to get deal
    </ion-label>
    <ion-note slot="end"> Deal Claim </ion-note>
  </ion-item>

  <ion-item detail>
    <ion-label>
      Asking For Referral
    </ion-label>
    <ion-note slot="end"> Accountant  </ion-note>
  </ion-item>

</ion-list>

</ion-content>
