<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
       <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>  
       </ion-button>
    </ion-buttons>
    <ion-title>Ask For A Referral</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

    <div class="pull-center givepadding">
        <h3>Get Trusted Referrals</h3>
        <p>Ask for a referral from your friends, family and other known ones</p>
    </div>


    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-textarea class="placeholdercss"  formControlName="name" rows="6" cols="20" placeholder="Enter more details about your request"></ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button class="submit-btn"  type="submit" expand="block"  [disabled]="!validationsForm.valid"><ion-icon slot="icon-only" class="sendbtn" ios="md-send"  md="md-send">  </ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </form>
</ion-content>
