<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Referral Program</ion-title>
    <a slot="end" class="iconhref iconright whitehref" [routerLink]="['/app/home']">
      <ion-icon tappable    name="home"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Create Your Referral Program</ion-label>
      </ion-list-header>
      <p class=""> Motivate your consumers by offering incentives for referrals they send back to you </p>


      <ion-item class="input-item">
        <ion-label position="floating">Referral Incentive Type</ion-label>
        <ion-select (ionChange)="onChange_incentivetype($event)" placeholder="Please Select"
          [(ngModel)]="rtlist" formControlName="rtlist" id="rtlist"  cancelText="Cancel" okText="OK">
          <ion-select-option  [selected]="selectOptionsTP == 0" *ngFor="let val of rtlistComplete" [value]="valval" >
            {{ val.name }}</ion-select-option>
       </ion-select>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">{{referral_incentive_detail}}</ion-label>
        <ion-input   type="text"  formControlName="referral_incentive_detail_txt" id="referral_incentive_detail_txt" [value]="referral_incentive_detail_txt" [(ngModel)]="referral_incentive_detail_txt"
        maxlength="300" placeholder="{{referral_incentive_detail_placeholder}}"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.referral_incentive_detail_txt">
          <div class="error-message" *ngIf="validationsForm.get('referral_incentive_detail_txt').hasError(validation.type) && (validationsForm.get('referral_incentive_detail_txt').dirty || validationsForm.get('referral_incentive_detail_txt').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label position="floating">Instructions to Redeem Incentives</ion-label>
        <ion-textarea  formControlName="redeem_instructions" placeholder="E.g. The gift card will be mailed to you..."></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!validationsForm.valid">Submit</ion-button>
    <ion-button (click)="gotonextpage()" class="aligncenter" fill="clear">Skip</ion-button>
  </form>
</ion-content>
