<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Invite Contacts</ion-title>
    <ion-buttons tappable (click)="backBtn()" slot="start">
      <ion-icon class="leftmargin_topbtn"  name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <ion-icon slot="end" class="iconright"  (click)="refreshPage()" name="refresh-circle"></ion-icon>
  </ion-toolbar>

          <!-- Searchbar with a placeholder -->
          <ion-searchbar tappable   placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">

      <ion-list detail="false">
        <ion-list-header lines="false">
          Invite Businesses, Friends & Build Meaningful Network
        </ion-list-header>

      <ion-virtual-scroll [items]="mainArray" class="contactslistion " approxItemHeight="320px">
        <ion-item *virtualItem="let item; let itemBounds = bounds;"   >

          <ion-label *ngIf="item.displayName">{{item.displayName}}
              <ion-note  *ngIf="item.mobile_formatted" > {{item.mobile_formatted}} </ion-note>
          </ion-label>

          <ion-button fill="clear" shape="round" class="iconbtn" tappable  (click)="sendSMS(item)" >
            <ion-icon class="iconbtninsidebtn" *ngIf="!item.isdisable" name="add-circle"></ion-icon>
          </ion-button>

        </ion-item>
      </ion-virtual-scroll>

      </ion-list>

    </ion-col>

  </ion-row>
</ion-content>
