<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>For Business Owners</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Start Your Own Loyality, Referral Automation & Marketing Program </ion-label>
      </ion-list-header>
      <p class="">Quick Startup, Fully Automated, Send Co-Branded Push Notifications To Your Clients, Encourage Referrals & Sales, Easy Onboarding </p>

      <ion-item class="input-item">
        <ion-label position="floating">Business Name</ion-label>
        <ion-input type="text" formControlName="name" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div class="error-message" *ngIf="validationsForm.get('name').hasError(validation.type) && (validationsForm.get('name').dirty || validationsForm.get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>


      <ion-item class="input-item">
        <ion-label position="floating">Business Category</ion-label>
        <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
          <ion-select-option *ngFor="let gender of genders" [value]="gender" >{{ gender }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item lastitem ">
        <ion-label>I accept terms and conditions <!-- mytodo_critical : make a link to new page --> </ion-label>
        <ion-checkbox formControlName="terms"></ion-checkbox>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.terms">
          <div class="error-message" *ngIf="validationsForm.get('terms').hasError(validation.type) && (validationsForm.get('terms').dirty || validationsForm.get('terms').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block"   [disabled]="!validationsForm.valid">Submit</ion-button>
  </form>
</ion-content>
