<ion-app dir="{{textDir}}">
  <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="4">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="user-avatar" animation="spinner" [src]="'./assets/icon/iconb.png'"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="user-info-wrapper" size="8">
              <h3 class="user-name">Burgundy.app</h3>
              <h5 class="user-handle"></h5>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>Burgundy.app</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!--
        <ion-list>
          <ion-list-header>Business Settings</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/business']">
              <ion-icon slot="business" name="map"></ion-icon>
              <ion-label>
                Business Settings
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        -->

        <ion-list>
          <ion-list-header>Affiliate</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/affiliate']">
              <ion-icon slot="business" name="cash"></ion-icon>
              <ion-label>
                Earn money with us
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>Miscellaneous</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/business']">
              <ion-icon slot="business" name="cash"></ion-icon>
              <ion-label>
                About
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/business']">
              <ion-icon slot="business" name="help-buoy"></ion-icon>
              <ion-label>
                Help
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <!-- Main app content get's rendered in this router-outlet -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
