<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Anguls Dev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding class="buddychat-content">

    <div class="buddychat">
      <p>his talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
    </div>

    <div class="mychat">
       <p> Hello this is sample chat and lore ipusm and good thoughts of nice air </p>
    </div>

    <div class="mychat">
      <h4 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Referral Sent</span></h4>
      <p>Hi, I am sending a referral to you Hi, I am sending a referral to you Hi, I am sending a referral to you</p>
    </div>

    <div class="buddychat">
      <h4 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Referral Sent</span></h4>
      <p>Hi, I am sending a referral to you (Gurbakhsak Kalhi) (647) 123-1234</p>

      <div>
        <ion-button size="small" (click)="saveContactInPhone(item)" color="primary" >Save Contact</ion-button>
      </div>
      <div>
        <ion-button size="small" (click)="saveContactInPhone(item)" color="medium" >Open Contact</ion-button>
      </div>

    </div>

    <div class="buddychat">
      <h4 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Loyality Redeemed</span></h4>
      <p>Hi, I have redeemed the loyality points and got Free Ice Cream</p>
    </div>

    <div class="buddychat">
      <h4 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Request To Release Incentive</span></h4>
      <p>Please release my incentives for the referrals I sent you so far</p>
      <div>
        <ion-button size="small" (click)="saveContactInPhone(item)" color="primary" >Check Request</ion-button>
      </div>
    </div>

    <div class="buddychat">
      <h4 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Asking For Deal</span></h4>
      <p>Hi, I am intersting in your deal. Please let me know how to redeem it </p>
      <div>
        <ion-button size="small" (click)="saveContactInPhone(item)" color="success" >Check Deal</ion-button>
      </div>

    </div>

    <div class="buddychat">
      <h4 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Asking For Referral</span></h4>
      <p>Hi, I am looking for a (Accountant). Please send me a trusted referral </p>
      <div>
        <ion-button size="small" (click)="saveContactInPhone(item)" color="dark" >Send A Referral</ion-button>
      </div>
    </div>

</ion-content>

<ion-footer ion-fixed>
        <ion-toolbar class="no-border" color="white">
          <!-- Textarea in an item with a placeholder -->
          <ion-item lines="none">
            <ion-textarea placeholder="Type to send message"></ion-textarea>
            <ion-buttons end>
                 <ion-button color="primary"><ion-icon name="send"></ion-icon></ion-button>
            </ion-buttons>
          </ion-item>

        </ion-toolbar>
</ion-footer>
