<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Loyality Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="categories-list">
    <ion-col class="category-item fashion-category firstitem " size="12">
      <div class=" centertext">
            <ion-card (click)="fnmaincardwork()" class="businessitem">
              <ion-card-header>
                <ion-card-subtitle>Megna Insurance</ion-card-subtitle>
                <ion-card-title>Mauli Peecock</ion-card-title>
              </ion-card-header>
              <ion-card-content class="centertext">
                <h1>Your 3 out of 5 Referrals Are Marked Redeemed</h1>
                <ion-progress-bar color="danger" value="0.4"></ion-progress-bar>
                <!-- Notes in a List -->
                <div class="textinfo">
                  <ion-text color="dark" class="">
                    Mauli Peecock will redeem you following incentive for each sale closed through your referral <h3><ion-badge color="primary">$50 Gift Card</ion-badge></h3>
                  </ion-text>
                </div>

              </ion-card-content>
            </ion-card>
      </div>

    </ion-col>
</ion-row>


<ion-row class="categories-list">
  <ion-col class="centertext" size="12">
      <ion-button color="secondary">Send Redeem Request</ion-button>
  </ion-col>
 </ion-row>

<ion-row class="categories-list">
  <ion-col class="" size="12">

    <ion-list>
       <ion-list-header>
         <ion-label>Referrals You Sent (5)</ion-label>
       </ion-list-header>
       <ion-item detail = false><ion-label>Raveender Paul</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>John Mary</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
       <ion-item detail = false><ion-label>Vinessa Bally</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>

       <ion-item lines="none" detail="false"><ion-label color="primary" text-wrap>Mauli Peecock Sent You Incentives ($25 Gift Card)</ion-label><ion-note slot="end">29 June 2019</ion-note>
      </ion-item>
        <ion-item detail="false" >
          <ion-label color="primary" text-wrap>Note From Mauli Peecock : A Gift card of $25 is send at your address. Please call us if you do not recieve withing 5-7 business days</ion-label>
       </ion-item>

       <ion-item detail = false><ion-label>Parang Hio</ion-label><ion-note slot="end">29 June 2019</ion-note> </ion-item>
     </ion-list>

  </ion-col>
</ion-row>


<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon   name="paper-plane"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
