<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Earn Loyality
    </ion-title>
    <ion-icon tappable slot="end" class="iconright"   (click)="askForReferral()"  name="add-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the bottom start -->
  <ion-fab   vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="business"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-row class="categories-list">
    <ion-col class="category-item travel-category firstitem " size="12">
      <div class="category-anchor centertext">
            <h2 class="category-title">
              <ion-icon name="barcode" class="iconmain"></ion-icon>
              <br> Tap & Scan Loyality
              <br><small>Scan To Earn Loyality <br>From Businesses </small>
            </h2>
      </div>
    </ion-col>

    <ion-col class="sometopmargin" size="12">

      <ion-list detail="true">
        <ion-list-header>
          Loyality History
        </ion-list-header>

        <!-- Searchbar with a placeholder -->
        <ion-searchbar placeholder="Search Loyality History"></ion-searchbar>
        <ion-item (click)="onDetail()" detail="true"><ion-label>Quantum Insurance</ion-label> <ion-note slot="end"> 11 Scans </ion-note></ion-item>
        <ion-item click="onDetail()" detail="true"><ion-label>ABC Realtor</ion-label> <ion-note slot="end"> 1 Scans </ion-note></ion-item>
        <ion-item click="onDetail()" detail="true"><ion-label>Kitchen Cabinet</ion-label> <ion-note slot="end"> 5 Scans </ion-note></ion-item>
        <ion-item click="onDetail()" detail="true"><ion-label>Accounting Firm</ion-label> <ion-note slot="end"> 18 Scans </ion-note></ion-item>
        <ion-item (click)="onDetail()" detail="true"><ion-label>Quantum Insurance</ion-label> <ion-note slot="end"> 11 Scans </ion-note></ion-item>
        <ion-item click="onDetail()" detail="true"><ion-label>ABC Realtor</ion-label> <ion-note slot="end"> 1 Scans </ion-note></ion-item>
        <ion-item click="onDetail()" detail="true"><ion-label>Kitchen Cabinet</ion-label> <ion-note slot="end"> 5 Scans </ion-note></ion-item>
        <ion-item click="onDetail()" detail="true"><ion-label>Accounting Firm</ion-label> <ion-note slot="end"> 18 Scans </ion-note></ion-item>
      </ion-list>


    </ion-col>
  </ion-row>
</ion-content>
