<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
       <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="{{url}}"   class="msg" #mylargeimage   />
</ion-content>
