<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      My Deals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-row class="categories-list">

    <ion-col class="sometopmargin" size="12">

      <ion-list detail="true">
        <ion-list-header>
          Below is list of my deals
        </ion-list-header>

        <!-- Searchbar with a placeholder -->
        <ion-searchbar placeholder="Search Deals"></ion-searchbar>
        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>50% off first time</h3>
            <p>21 Claims</p>
          </ion-label>
        </ion-item>

        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>Free Curtiain on glasses</h3>
            <p>5 Claims</p>
          </ion-label>
        </ion-item>

        <ion-item (click)="onDetail()" detail="true">
          <ion-label>
            <h3>10% First timers</h3>
            <p>15 Claims</p>
          </ion-label>
        </ion-item>

      </ion-list>


    </ion-col>
  </ion-row>
</ion-content>
