<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Affiliate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">


    <ion-card  (click)="goto('app/deals')" >
            <ion-card-header>
              <ion-card-subtitle >Our Affliate Program Put You First</ion-card-subtitle>
              <ion-card-title  >Earn with us</ion-card-title>
            </ion-card-header>

            <ion-card-content>
               You earn $25 Visa Card everytime when someone join paid business membership through your link. Share socially to maximize your earnings. 
             </ion-card-content>

    </ion-card>



  <form class="validations-form myform" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

      <ion-row class="mylink">
        <ion-col  size="12">
          <ion-label><strong>Your Affiliate Link</strong></ion-label>
        </ion-col>
        <ion-col class="mycolborder roundborder" size="8">
           <ion-input class="myafflink" clearInput value="thelinkgoeshere"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-button color="tertiary" size="small">Copy & Share</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="">
        <ion-col  size="12">
          <ion-label><strong>Your Stats</strong></ion-label>
        </ion-col>
        <ion-col size="12">
      <ion-list>
               <ion-item>
                 <ion-label>Impressions (Views)</ion-label>
                 <ion-note slot="end" color="primary">2,399</ion-note>
               </ion-item>

               <ion-item>
                 <ion-label>Total Signups</ion-label>
                 <ion-note slot="end" color="primary">12</ion-note>
               </ion-item>

               <ion-item>
                 <ion-label>Paid Signups</ion-label>
                 <ion-note slot="end" color="secondary">5</ion-note>
               </ion-item>

               <ion-item>
                 <ion-label>Your Earnings</ion-label>
                 <ion-note slot="end" color="success">$1,231</ion-note>
               </ion-item>

               <ion-item>
                 <ion-label>Earning Released</ion-label>
                 <ion-note slot="end" color="primary">$2,312</ion-note>
               </ion-item>

               <ion-item>
                 <ion-label>Earning Remaning</ion-label>
                 <ion-note slot="end" color="danger">$500</ion-note>
               </ion-item>
           </ion-list>
         </ion-col>
       </ion-row>




      <ion-button (click)="gotonextpage()" class="submit-btn" type="submit" expand="block"
       >Let`s Get Started</ion-button>



  </form>
</ion-content>
<ion-footer class="mydisclaimer"> <small>Only avalaible to the residence of US, Canada, Australia & UK. Other Conditions Apply </small>
</ion-footer>
