<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
    <ion-icon slot="end" class="iconright" (click)="askForReferral()"  name="add-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content   class="notifications-content">

  <ion-list>
    <ion-item  *ngFor="let friend of myfriends">
      <ion-label>{{friend.displayName}} < </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
