<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
    <ion-icon slot="end" class="iconright" (click)="askForReferral()"  name="add-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content   class="notifications-content">
  <ng-container *ngIf="notifications">
    <ion-item-group>
      <!-- Searchbar with a placeholder -->
      <ion-searchbar placeholder="Search"></ion-searchbar>
      <ion-item  detail="false"  class="notification-item" lines="none" *ngFor="let notification of notifications.today">
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="notification-image" [src]="notification.image" [alt]="'user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper" (click)="gotobuddypage(notification)">
            <h2 class="details-name">
              <app-text-shell animation="bouncing" [data]="notification.name"></app-text-shell>
              <ion-note text-wrap *ngIf="notification.business">
                <app-text-shell animation="bouncing" [data]="notification.business"></app-text-shell>
              </ion-note>
            </h2>
            <p *ngIf="notification.type!='message'" class="details-description">
              <ion-badge color="{{notification.color}}">{{ notification.message }}</ion-badge>
            </p>
            <p *ngIf="notification.type=='message' && notification.read" class="details-description">
              <app-text-shell animation="bouncing" [data]="notification.message"></app-text-shell>
            </p>
            <p *ngIf="notification.type=='message' && !notification.read" class="details-description">
              <strong><app-text-shell animation="bouncing" [data]="notification.message"></app-text-shell></strong>
            </p>
            <ion-icon slot="end" color="dark" class="iconright" (click)="sendReferral(notification.uid)"  name="arrow-dropright-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addbuddy()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ng-container>
</ion-content>
