<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Referral Incentives
    </ion-title>
    <ion-icon slot="end" class="iconright" (click)="askForReferral()"  name="add-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="categories-list">
    <ion-col class="category-item fashion-category firstitem " size="12">
      <div class="category-anchor centertext">
            <h2 class="category-title">
              <ion-icon name="arrow-dropright-circle" class="iconmain"></ion-icon>
              <br> Send A Referral
              <br><small>Earn Incentives By<br> Sending A Referral<br> To Following Businesses</small>
            </h2>
      </div>
    </ion-col>

    <ion-col class=" " size="12">
      <div class=" centertext">
            <ion-card  class="businessitem">
              <ion-card-header tappable (click)="fnmaincardwork()">
                <ion-card-subtitle>Artee Roofing Inc</ion-card-subtitle>
                <ion-card-title>Gary Downing</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button  (click)="fnSendReferral()" shape="round">Send Referral <ion-icon class="iconleftmargin" name="arrow-dropright-circle"></ion-icon></ion-button>
                <!-- Notes in a List -->
                <ion-list tappable (click)="fnmaincardwork()" >
                  <ion-item detail="false" lines="true">
                    <ion-note slot="start">Incentives</ion-note>
                    <ion-note slot="end">$100 Gift Card</ion-note>
                  </ion-item>
                  <ion-item lines="none" >
                    <ion-button  (click)="fnmaincardwork()" class="aligncenter" color="medium">Check Your Earnings <ion-icon class="iconleftmargin" name="gift"></ion-icon></ion-button>
                  </ion-item>
                </ion-list>

              </ion-card-content>
            </ion-card>
      </div>
      <div class=" centertext">
            <ion-card   class="businessitem">
              <ion-card-header tappable (click)="fnmaincardwork()">
                <ion-card-subtitle>Megna Insurance</ion-card-subtitle>
                <ion-card-title>Mauli Peecock</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button  (click)="fnSendReferral()" shape="round">Send Referral <ion-icon class="iconleftmargin" name="arrow-dropright-circle"></ion-icon></ion-button>
                <!-- Notes in a List -->
                <ion-list tappable (click)="fnmaincardwork()" >
                  <ion-item detail="false" lines="true" >
                    <ion-note slot="start">Incentives</ion-note>
                    <ion-note slot="end">$50 Cash</ion-note>
                  </ion-item>
                  <ion-item lines="none" >
                    <ion-button (click)="fnmaincardwork()" class="aligncenter" color="medium">Check Your Earnings <ion-icon class="iconleftmargin" name="gift"></ion-icon></ion-button>
                  </ion-item>
                </ion-list>

              </ion-card-content>
            </ion-card>
      </div>
    </ion-col>

  </ion-row>


      <!-- fab placed to the bottom start -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="business"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
